<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Quick Start Guide Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            text-align: left;
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

    </style>
</head>
<body>
<div id="map"></div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://leafletjs.com/dist/leaflet.js"></script>
<script>

    var map = L.map('map').setView([41.38254, 2.15769], 12);
    //map.maxBounds([41.3160276073,2.1027998924],[41.4463695625,2.2629470825]);

    var tile = ['http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
	'http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png',
	'http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png']
    L.tileLayer(tile[2], {
        attribution: 'TeamUNO &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    }).addTo(map);

    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        if(props) {

            this._div.innerHTML = '<h4> zipcode: ' + props.zipcode + '</h4>' + (props ?
                    '<b>rating:' + parseFloat(props.payments_proportion).toFixed(1)*10
		            : 'Hover over a zipcode');
        }
    };

    info.addTo(map);

    function getColor(d) {
    	return d > 9 ? '#253494' :
               d > 8 ? '#2c7fb8' :
               d > 6 ? '#41b6c4' :
               d > 3 ? '#a1dab4' :
               d > 1 ? '#ffffdf' :
                       '#ffffff';
    }
    function style(feature) {
        return {
            weight: 0.75,
            opacity: 1,
            color: 'yellow',
            dashArray: '3',
            fillOpacity: (feature.properties.payments_proportion * 10) >= 7 ? 0.9 :
                            (feature.properties.payments_proportion * 10) >= 5 ? 0.8 :
                               (feature.properties.payments_proportion * 10) >= 1 ? 0.7 : 0.,
            fillColor: getColor(feature.properties.payments_proportion * 10)
        };
    }

    function highlightFeature(e) {
        if(active!=e.target._leaflet_id){
            var layer = e.target;

            layer.setStyle({
                weight: 2,
                color: 'yellow',
                dashArray: '',
                fillOpacity: 0.05
            });

            if (!L.Browser.ie && !L.Browser.opera) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
        }
    }

    var geojson;

    function resetHighlight(e) {
        if(active!=e.target._leaflet_id) {
            geojson.resetStyle(e.target);
            info.update();
        }
    }

    markers = new L.FeatureGroup();
    function updateMarkers(places){
        places.sort(function(a, b) {
            return parseFloat(a.rating) - parseFloat(b.rating);
        });
        for(i=0;i<places.length;i++){
            var place= places[i];
            var preferences=JSON.parse(get('preferences'));
            var color='';
            var size='';
            color= place.price == preferences.amount ? 'red' : 'gray';
            size= i >places.length-3 ? 45 : 15;

            var circle = L.circle([place.latitude, place.longitude], size, {
                width: 400,
                color: color,
                fillColor: color,
                fillOpacity: 0.8
            });
            function repeat(s, n){
                var a = [];
                while(a.length < n){
                    a.push(s);
                }
                return a.join('');
            }
	        var prices = ['<20€', '20-30€', '30-40€', '>45€']
            //var marker = L.marker([places[i].latitude, places[i].longitude]);
            circle.bindPopup('<img width=200 src="' + place.photo_url + '"><br/>'
                    + '<a href="'+ place.url + '">' + place.name + '</a><br/>'
                    + place.address.substring(0,place.address.length-11) + '<br/>'
                    + 'Reviews: <b>' + place.reviews + '</b><br/>'
                    + 'Rating: <b>' + place.rating + '</b><br/>'
                    + 'Price: <b>' + prices[place.price-1]  + '</b><br/>'
                    + 'Telephone: <a href="tel:' + place.telephone + '">' + place.telephone + '</a><br/>');

            markers.addLayer(circle);
        }
        map.addLayer(markers);
    }

    active='';
    eactive='';
    function saveActive(e){
        var auxactive=eactive;
        active=e.target._leaflet_id;
        eactive=e;
        if(eactive!=''){
            resetHighlight(auxactive);
        }
    }

    function zoomToFeature(e) {
        if(active!=e.target._leaflet_id){
            markers.clearLayers();
            var zipcode= e.target.feature.properties.zipcode;
            $.post("/api/v1/places", '{"zipcode":"'+zipcode+'"}', function(json) {
                updateMarkers(json);
            },'json');
            map.fitBounds(e.target.getBounds());
            highlightFeature(e);
        }
        saveActive(e);
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
            grades = [3, 6, 8, 9, 10],
            labels = [];

        // loop through our density intervals and generate a label with a colored square for each interval
        for (var i = grades.length-1; i >= 0; i--) {
            div.innerHTML +=
                '<i style="background:' + getColor(grades[i]) + '"></i> ' +
                (grades[i-1] ? grades[i-1] : '1') + (grades[i] ? '&ndash;' + grades[i] + '<br>' : '+');
        }

        return div;
    };

    legend.addTo(map);

    //get parametres from querystring
    function get(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }

    cps={};
    $.post("/api/v1/maps",get('preferences'), function(json) {
        console.log('cp_cat cargado');
        cps=json;
        geojson = L.geoJson(cps, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);
    },'json');


    function onLocationFound(e) {
        L.circle(e.latlng,20, {
            color: 'orange',
            fillColor: 'yellow',
            fillOpacity: 0.8
        }).addTo(map)
                .bindPopup("You are here");
    }

    map.locate({setView: false});
    map.on('locationfound', onLocationFound);



</script>
</body>
</html>
