<ion-view view-title="Preferences">
  <ion-content>
    <ion-list>
      <div class="list">
      </div>
      <div class="list tabs">
        <label class="item tab-item item-radio" style="width: 80px;">
          <input type="radio" name="time" value="0" checked="checked" ng-model="preferences.time">
          <div class="item-content " style="padding-right: 32px">
            <img width="42px" src="../static/img/Sunrise.png" style="margin-top: -8px; font-size: 50px;"></img>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item tab-item item-radio" style="width: 80px;">
          <input type="radio" name="time" value="1" checked="checked" ng-model="preferences.time">
          <div class="item-content" style="padding-right: 32px">
            <i class="icon ion-ios-sunny-outline" style="margin-top: -25px; font-size: 50px;"></i>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item tab-item item-radio" style="width: 80px;">
          <input type="radio" name="time" value="2" checked="checked" ng-model="preferences.time">
          <div class="item-content " style="padding-right: 32px">
            <i class="icon ion-ios-moon-outline" style="margin-top: -27px; font-size: 50px;"></i>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
      <div class="list tabs" style="height: 55px;">
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="1"  ng-model="preferences.weekday">
          <div class="item-content" >
            Mon
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="2" ng-model="preferences.weekday">
          <div class="item-content">
            Tue
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="3"  ng-model="preferences.weekday">
          <div class="item-content">
            Wed
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="4"  ng-model="preferences.weekday">
          <div class="item-content">
            Thu
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="5"  ng-model="preferences.weekday">
          <div class="item-content">
            Fri
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="6"  ng-model="preferences.weekday">
          <div class="item-content">
            Sat
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="0"  ng-model="preferences.weekday">
          <div class="item-content">
            Sun
          </div>

        </label>
      </div>
      <div class="list">
        <div class="item range range-royal">
          <div class="input-label">
            Age
          </div>
          <i class="icon ion-ios-person-outline"></i>
          <input type="range" name="age" min="20" max="70" value="33" step="10" ng-model="preferences.age">
          <div class="animate-switch-container">
            <div class="animate-switch" ng-if="preferences.age < 25"> <25 </div>
            <div class="animate-switch" ng-if="25 <= preferences.age && preferences.age < 35">25-34</div>
            <div class="animate-switch" ng-if="35 <= preferences.age && preferences.age< 45">35-44</div>
            <div class="animate-switch" ng-if="45 <= preferences.age && preferences.age< 55">45-54</div>
            <div class="animate-switch" ng-if="55 <= preferences.age && preferences.age< 65">55-64</div>
            <div class="animate-switch" ng-if="65 < preferences.age "> >65 </div>
          </div>
          <i class="icon ion-ios-personadd"></i>
        </div>
      </div>
      <div class="list tabs">
        <label class="item tab-item item-radio">
          <input type="radio" name="gender" value="male" checked="checked" ng-model="preferences.gender">
          <div class="item-content">
            Male
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item tab-item item-radio">
          <input type="radio" name="gender" value="female" checked="checked" ng-model="preferences.gender">
          <div class="item-content">
            Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
      <div class="list">
        <div class="item range range-royal">
          <div class="input-label">
            Amount <br/> to spend
          </div>
          <i class="icon ion-ios-pricetag-outline"></i>
          <input type="range" name="amount" min="1" max="4" value="2" ng-model="preferences.amount">
          <div class="animate-switch-container">
            <div class="animate-switch" ng-if="preferences.amount == 1"> <20€ </div>
            <div class="animate-switch" ng-if="preferences.amount == 2"> 20-30€ </div>
            <div class="animate-switch" ng-if="preferences.amount == 3"> 30-45€ </div>
            <div class="animate-switch" ng-if="preferences.amount == 4"> >45€ </div>
          </div> &nbsp;
          <i class="icon ion-ios-pricetags"></i>

        </div>
      </div>
      <div class="list">
        <div class="item item-input" style="margin-left: -8px;">
          <span class="input-label" style="max-width: 70px;width:10%">Local</span>
          <label class="toggle toggle-royal">
            <input type="checkbox" ng-model="preferences.local">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          <span class="input-label" ng-show="preferences.local">BCN Zipcode</span>
          <label class="item-input-wrapper" ng-show="preferences.local" style="min-width:80px; max-width:80px;">
            <input type="text" maxlength="5" ng-model="preferences.customerzipcode">
          </label>
          <label class="input-label" style="width: 8%;">&nbsp;</label>
        </div>
      </div>
      <div class="list">
        <button class="button button-block button-assertive" ng-click="recomendme()">
          Recomend me
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
