<ion-view view-title="Preferences">
  <ion-content>
    <ion-list>
      <div class="list">
      </div>
      <div class="list tabs" style="height: 55px;">
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="0"  ng-model="preferences.weekday">
          <div class="item-content" >
            Mon
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="1" ng-model="preferences.weekday">
          <div class="item-content">
            Tue
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="2"  ng-model="preferences.weekday">
          <div class="item-content">
            Wed
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="3"  ng-model="preferences.weekday">
          <div class="item-content">
            Thu
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="4"  ng-model="preferences.weekday">
          <div class="item-content">
            Fri
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="5"  ng-model="preferences.weekday">
          <div class="item-content">
            Sat
          </div>

        </label>
        <label class="checkbox checkbox-royal" >
          <input type="radio" name="weekday" value="6"  ng-model="preferences.weekday">
          <div class="item-content">
            Sun
          </div>

        </label>
      </div>
      <div class="list">
        <div class="item range range-positive">
          <div class="input-label">
            Age
          </div>
          <i class="icon ion-ios-person-outline"></i>
          <input type="range" name="age" min="0" max="100" value="33" ng-model="preferences.age">
          <i class="icon ion-ios-personadd"></i>
        </div>
      </div>
      <div class="list tabs">
        <label class="item tab-item item-radio">
          <input type="radio" name="gender" value="male" checked="checked" ng-model="preferences.gender">
          <div class="item-content">
            Male
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item tab-item item-radio">
          <input type="radio" name="gender" value="female" checked="checked" ng-model="preferences.gender">
          <div class="item-content">
            Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
      <div class="list">
        <div class="item range range-positive">
          <div class="input-label">
            Amount <br/> to spend
          </div>
          <i class="icon ion-ios-pricetag-outline"></i>
          <input type="range" name="amount" min="0" max="100" value="33" ng-model="preferences.amount">
          <i class="icon ion-ios-pricetags"></i>

        </div>
      </div>
      <div class="list">
        <button class="button button-block button-assertive" ng-click="recomendme()">
          Recomend me
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
